@font-face {
	font-family: Objective;
	src: url(..\lib\fonts\Objective_OTF\Objective-Regular.otf);
}

* {
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	font-family: Objective;
}
.app {
	background-color: #121212;
}

